.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
.recipy-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 500px;
}
.recipy-card__image {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}
.recipy-card__info {
  margin-top: 20px;
}
.recipy-card__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.recipy-card__description {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
